<div class="btn-group-vertical" data-controller="static">
<% if brightness == 'light' %>
  <a
  href="<%= root_path() %>"
  id='beaukeh'
  class='btn btn-link text-dark'
  data-static-signature-param="<%= @signature %>"
  data-action='click -> static#download'>Gimme this beaukeh!</a>
  <a href="https://cruller.club/<%= @background_color %>" target=_blank class="btn btn-link text-dark">
    <%= @signature %> on #<%= @background_color %>
  </a>
<% else %>
  <a
  href="<%= root_path() %>"
  id='beaukeh'
  class='btn btn-link text-light'
  data-static-signature-param="<%= @signature %>"
  data-action='click -> static#download'>Gimme this beaukeh!</a>
  <a href="https://cruller.club/<%= @background_color %>" target=_blank class="btn btn-link text-light">
    <%= @signature %> on #<%= @background_color %>
  </a>
<% end %>
</div>