<div class="btn-group-vertical" data-controller="static">
<% if brightness == 'light' %>
  <a
  href="#"
  id='beaukeh'
  class='btn btn-link text-dark'
  data-static-signature-param="<%= @signature %>"
  data-action='click -> static#download'>
  Gimme this beaukeh!<br/>
  <%= "#{@signature[0..5]} [...] #{@signature[-5..-1]}" %> on #<%= @background_color %><br />
  <em><%= "#{@density} | #{@aura} | #{@energy}" %></em>
  </a>
<% else %>
  <a
  href="#"
  id='beaukeh'
  class='btn btn-link text-light'
  data-static-signature-param="<%= @signature %>"
  data-action='click -> static#download'> 
  Gimme this beaukeh!<br/>
  <%= "#{@signature[0..5]} [...] #{@signature[-5..-1]}" %> on #<%= @background_color %><br />
  <em><%= "#{@density} | #{@aura} | #{@energy}" %></em>
  </a>
<% end %>
</div>