<% view_title 'Show!' %>

<% if @sticky %>
<a href="<%= background_path(@background_color) %>">
  <%= @svg.html_safe %>
</a>
<% else %>
<a href="<%= root_path() %>">
  <%= @svg.html_safe %>
</a>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-12 text-center fancy">
      <%= beaukeh_button_group(@background_color) %>
    </div>
  </div>
</div>

<script>
  document.body.style.backgroundColor = "#<%= @background_color %>"
</script>